<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="ru.kuchanov.tproger"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/My.Theme.Light"
        android:versionCode="0042"
        android:versionName="0.0.42">

        <activity
            android:name="ru.kuchanov.tproger.activity.ActivityMain"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--
                    android:launchMode="singleTask"-->
        <activity
            android:name=".activity.ActivityArticle"
            android:label="@string/title_activity_article"
            android:parentActivityName="ru.kuchanov.tproger.activity.ActivityMain"/>


        <activity
            android:name=".activity.ActivityCategoriesAndTags"
            android:label="@string/title_activity_cats_and_tags"
            android:parentActivityName="ru.kuchanov.tproger.activity.ActivityMain"/>

        <activity
            android:name=".activity.ActivitySettings"
            android:label="@string/title_activity_settings"/>

        <service
            android:name=".robospice.HtmlSpiceService"
            android:enabled="true"/>
        <service
            android:name=".robospice.HtmlSpiceServiceOffline"
            android:enabled="true"/>
        <service
            android:name=".robospice.HtmlSpiceServiceArticle"
            android:enabled="true"/>
        <service
            android:name=".robospice.HtmlSpiceServiceOfflineArticle"
            android:enabled="true"/>

        <receiver
            android:name=".receiver.ReceiverTimer"
            android:exported="false">
            <intent-filter>
                <action android:name="ru.dante.scpfoundation.eng.recivers.ReceiverTimer"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.ReceiverBoot"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
